*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    /* overflow-x: hidden; */
    font-family: sans-serif;
    width: 100%;
    border: thin solid teal;
}

.sec1{
    width: 100%;
    background-color: #b48cfc0d;
    background-image: url(image/64628f1aba6705db8e3715ce_curved\ shape.webp);
    background-position: 0, 0;
    background-repeat: no-repeat;
}

.wrapper1{
    /* border: thin solid black; */
    /* width: 85%; */
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* gap: 100px; */
    padding-top: 200px;
    /* padding-left: 100px; */
    padding-left: -50px;
    /* align-items: center; */
    padding-bottom: 70px;
    margin-bottom: 50px;
}

.r-side{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center    
}

.r-side h2{
    font-size: 3rem;
    color: #2C1762;
    margin-bottom: 20px;
}

.r-side p{
    color: #626782;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.img01{
    width: 80%;
}

.l-side{
    padding-left: 100px;
    /* margin-left: -150px; */
    /* background-color: brown; */
    /* justify-content: center; */
}

/* .sparkle{
    width: 20px;
    margin-top: -50px;
    position: absolute;
    margin-left: 250px;
} */

.sqr{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    background-color: #FFFFFF;
    box-shadow: 14px 14px 0 -3px #FF0475;
    border-radius: 20px;
}

.sqr p{
    font-size: 20px;
    font-weight: 600;
    color: #FF0475;
    padding-bottom: 10px;
}

.img1{
    width: 200px;
}

/* section2 */
.container2{
    /* border: thin solid black; */
    width: 100%;
    margin-inline: auto;
    overflow-x: hidden;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}

.wrapper3{
    /* border: thin solid red; */
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: auto;
    /* justify-content: center; */
    /* justify-content: space-between; */
}

.hdiv{
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -1;
    line-height: 48px;
    color: #2C1762;
}

.cd1wrapper{
    /* border: thin solid black; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 30px;
    margin-top: 50px
}

.cd01{
    width: 400px;
    height: 450px;
    box-shadow: 0 2px 17px -4px #0003;
    background-color: #FF0475;
    border-radius: 10px;
    margin-bottom: 20px;
}

.slide1{
    margin-bottom: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #FFFFFF;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.top-con1{
    /* border: thin solid green; */
    margin-bottom: 20px;
}

.circ1{
    /* border: thin solid violet; */
    width: 45px;
    height: 45px;
    padding: 10px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 100%;
    background-color: #2C1762;
}

.circ-num1{
    color: white;
    font-size: 20px;
    font-weight: 500;
}

.D1{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.D02{
    font-size: 15px;
    color: #626882;
    line-height: 20px;
    /* font-weight: 500; */
    margin-right: px;
}

.cd1{
    width: 400px;
    height: 450px;
    background-color: #FF0475;;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /* position: absolute; */
}

.botom-con{
    /* border: thin solid blue; */
    margin-top: 80px;
    width: 400px;
}

.b-con{
    /* border: thin solid teal; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.img10{
    width: 200px;
}

.slide{
    width: 400px;
    /* border: thin solid indigo; */
    background-color: white;
    padding-top: 20px;
    padding-left: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.circ{
    width: 45px;
    height: 45px;
    background-color: #2C1762;
    padding: 10px 10px 10px 10px;
    justify-content: center;
    /* border-radius: 50%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 100%;
}

.circ-num{
    color: white;
    font-size: 20px;
    font-weight: 500;
}

.D{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 20px;
}

.D2{
    font-size: 15px;
    color: #626882;
    line-height: 20px;
    /* font-weight: 500; */
    margin-right: px;
}

.botom-con2{
    /* border: thin solid green; */
    padding-top: 18px;
    /* position: relative; */
    padding-left: 20px;
}

.botom-con3{
    /* border: thin solid teal; */
    padding-top: 15px;
    padding-left: 15px;
}

.img2{
    width: 360px;
    /* position: relative; */
}

.img3{
    width: 340px;
}


/* footer section */
.footer-con{
    background-color: #2C1762;
    overflow: hidden;
}

.footer-con1{
    width: 90%;
    /* border: thin solid red; */
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    padding-top: 50px;
}

.r1{
    display: flex;
    flex-direction: column;
    /* gap: 30px; */
}

.logo{
    width: 150px;
    margin-bottom: 20px;
}

.ng{
    border: medium solid #bab4c7;
    width: 200px;
    display: flex;
    justify-content: space-between;
    /* gap: 50px; */
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.feat{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.feat h4{
    color: #B48CFC;
    font-size: 14px;
}

.feat a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    font-weight: 600;
}

.footer-socials{
    width: 90%;
    /* border: thin solid orange; */
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 660px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.auth{
    padding-left: 10px;
}

.social-link{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 8px;
}

.footer-legal{
    width: 90%;
    /* border: thin solid yellowgreen; */
    margin: auto;
    padding-left: 110px;
    padding-right: 90px;
}

.block p{
    font-size: 10px;
    line-height: 14px;
    color: #bab4c7;
}